.new {
  height: 90vh;
  overflow: hidden;
  background-color: rgb(157, 214, 157);
  padding: 3rem 5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

}


.new > h1 {
  font-size: 5vw;
  font-weight: 700;
  color: rgb(5, 106, 5);
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.logo {
  height: 13rem;
  width: 10rem;
  list-style: none;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo > img {
  height: 70%;
  width: 90%;
  background-color: rgb(157, 214, 157);
  border-radius: 999px;
  box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);

}

.logo > span {
  font-weight: 600;
  margin-top: 1rem;
}

@media screen and (max-width:430px) {
  .new {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  } 
  
.new > h1 {
font-size: 40px;
}

.logo > span {
 font-size: 25px;
}

}